@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);

  --image-width: 300px;
}
body {
  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding: 20px;
  width: var(--image-width);
  background-color: var(--white);
  border-radius: 10px;
}

img {
  width: var(--image-width);
  border-radius: 10px;
}

h1,
p {
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 1.5rem;
}

p {
  font-weight: 400;
  padding: 0px 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
